log/
obj/
_site/
.optemp/
_themes*/

.openpublishing.buildcore.ps1

_dependentPackages/
healthvault-java-sdk/
healthvault-samples/
healthvault-dotnet/**/*.yml
/.vs/hv-docs/v15
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
